body{
    color: white;
    background: black;
}

header {
    font-family: "Rubik Beastly", system-ui;
    border-bottom: solid 2px rgb(228, 42, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 42);
}

.chamada {
    background: #130c2f;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

.rubik-beastly-regular {
  font-family: "Rubik Beastly", system-ui;
  font-weight: 400;
  font-style: normal;
}

img {
  height: 200px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

